@using DigitalLibrary.MasterData.DomainModel
@* Digital Library project *@
@* https://github.com/SayusiAndo/DigitalLibrary *@
@* Licensed under MIT License *@
<BSTable IsDark="true" IsStriped="true" IsHovarable="true">
    <BSTableHead>
        <BSTableRow>
            <BSTableHeadCell colspan="6">
                <BSButton ButtonType="ButtonType.Button"
                          @onclick="@(async () => await OpenAddWindowAction())">
                    Add
                </BSButton>
            </BSTableHeadCell>
        </BSTableRow>
        <BSTableRow>
            <BSTableHeadCell>Id</BSTableHeadCell>
            <BSTableHeadCell>Name</BSTableHeadCell>
            <BSTableHeadCell>Desc</BSTableHeadCell>
            <BSTableHeadCell>Parent</BSTableHeadCell>
            <BSTableHeadCell>Dimension Name</BSTableHeadCell>
            <BSTableHeadCell>Is Active?</BSTableHeadCell>
        </BSTableRow>
    </BSTableHead>
    <BSTableBody>
        @{
            foreach (DimensionStructure dimensionStructure in _dimensionStructures)
            {
                <BSTableRow>
                    <BSTableCell>@dimensionStructure.Id</BSTableCell>
                    <BSTableCell>@dimensionStructure.Name</BSTableCell>
                    <BSTableCell>@dimensionStructure.Desc</BSTableCell>
                    @{
@*                         if (dimensionStructure.ParentSourceFormatDimensionStructures != null) *@
@*                         { *@
@*                             <BSTableCell>@dimensionStructure.ParentSourceFormatDimensionStructures.Name</BSTableCell> *@
@*                         } *@
@*                         else *@
@*                         { *@
@*                             <BSTableCell>none</BSTableCell> *@
@*                         } *@
                    }
                    @{
                        if (dimensionStructure.Dimension != null)
                        {
                            <BSTableCell>@dimensionStructure.Dimension.Name</BSTableCell>
                        }
                        else
                        {
                            <BSTableCell>none</BSTableCell>
                        }
                    }
                    <BSTableCell>@dimensionStructure.IsActive</BSTableCell>
                    <BSTableCell>
                        <BSButton ButtonType="ButtonType.Button"
                                  @onclick="@(async () => await OpenEditWindowAction(dimensionStructure))"
                                  Color="Color.Primary">
                            Edit
                        </BSButton>
                    </BSTableCell>
                    <BSTableCell>
                        <BSButton ButtonType="ButtonType.Button"
                                  @onclick="@(async () => await OpenDeleteWindowAction(dimensionStructure))"
                                  Color="Color.Danger">
                            Delete
                        </BSButton>
                    </BSTableCell>
                </BSTableRow>
            }
        }
    </BSTableBody>
    <BSTableFooter>
    </BSTableFooter>
</BSTable>

<BSModal @ref="_deleteModalWindow">
    <BSForm Model="@_deleteDimensionStructure">
        <BSModalHeader @onclick="@(async () => await CancelEditHandler())">
            Are you sure to delete the below...?
        </BSModalHeader>
        <BSModalBody>
            <BSFormGroup>
                <BSFormLabel>Id</BSFormLabel>
                <BSBasicInput InputType="InputType.Text"
                              IsDisabled="true"
                              @bind-Value="@_editedDimensionStructure.Id">
                    @_editedDimensionStructure.Id
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Name</BSFormLabel>
                <BSInput InputType="InputType.Text"
                         IsDisabled="true"
                         @bind-Value="@_editedDimensionStructure.Name">
                    @_editedDimensionStructure.Name
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Description</BSFormLabel>
                <BSInput InputType="InputType.TextArea"
                         IsDisabled="true"
                         @bind-Value="@_editedDimensionStructure.Desc">
                    @_editedDimensionStructure.Desc
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Parent Dimension Structure</BSFormLabel>
                @*                 <BSInput InputType="InputType.Select" *@
                @*                          IsDisabled="true" *@
                @*                          @bind-Value="@_editedDimensionStructure.ParentDimensionStructureId"> *@
                @*                     @{ *@
                @*                         foreach (DimensionStructure topDimensionStructure in _topDimensionStructures) *@
                @*                         { *@
                @*                             if (topDimensionStructure.Id == _editedDimensionStructure.ParentDimensionStructureId) *@
                @*                             { *@
                @*                                 <option value="@topDimensionStructure.Id" selected> *@
                @*                                     @topDimensionStructure.Name *@
                @*                                 </option> *@
                @*                             } *@
                @*                             else *@
                @*                             { *@
                @*                                 <option value="@topDimensionStructure.Id"> *@
                @*                                     @topDimensionStructure.Name *@
                @*                                 </option> *@
                @*                             } *@
                @*                         } *@
                @*                     } *@
                @*                 </BSInput> *@
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Dimension</BSFormLabel>
                <BSInput InputType="InputType.Select"
                         IsDisabled="true"
                         @bind-Value="@_editedDimensionStructure.DimensionId">
                    @{
                        foreach (Dimension dimension in _dimensions)
                        {
                            if (dimension.Id == _editedDimensionStructure.DimensionId)
                            {
                                <option value="@dimension.Id" selected>
                                    @dimension.Name
                                </option>
                            }
                            else
                            {
                                <option value="@dimension.Id">
                                    @dimension.Name
                                </option>
                            }
                        }
                    }
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Is Active?</BSFormLabel>
                <BSInput InputType="InputType.Range"
                         IsDisabled="true"
                         min="0"
                         max="1"
                         @bind-Value="@_editedDimensionStructure.IsActive">
                    @_editedDimensionStructure.IsActive
                </BSInput>
            </BSFormGroup>
        </BSModalBody>
        <BSModalFooter>
            <BSButton ButtonType="ButtonType.Button"
                      @onclick="@(async () => await CancelDeleteHandler())"
                      Color="Color.Secondary">
                Cancel
            </BSButton>
            <BSButton ButtonType="ButtonType.Button"
                      Color="Color.Danger"
                      @onclick="@(async () => await DeleteHandler())">
                Delete
            </BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>

<BSModal @ref="_editModalWindow">
    <BSForm Model="@_editedDimensionStructure"
            ValidateOnInit="true"
            OnValidSubmit="@(async () => await UpdateDimensionStructureHandler())">
        @* <DataAnnotationsValidator/> *@
        @* <ValidationSummary/> *@
        <BSModalHeader @onclick="@(async () => await CancelEditHandler())">
            Edit new Dimension Structure
        </BSModalHeader>
        <BSModalBody>
            <BSFormGroup>
                <BSFormLabel>Id</BSFormLabel>
                <BSBasicInput InputType="InputType.Text"
                              IsDisabled="true"
                              @bind-Value="@_editedDimensionStructure.Id">
                    @_editedDimensionStructure.Id
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Name</BSFormLabel>
                <BSInput InputType="InputType.Text"
                         @bind-Value="@_editedDimensionStructure.Name">
                    @_editedDimensionStructure.Name
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Description</BSFormLabel>
                <BSInput InputType="InputType.TextArea"
                         @bind-Value="@_editedDimensionStructure.Desc">
                    @_editedDimensionStructure.Desc
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Parent Dimension Structure</BSFormLabel>
                @*                 <BSInput InputType="InputType.Select" *@
                @*                          @bind-Value="@_editedDimensionStructure.ParentDimensionStructureId"> *@
                @*                     @{ *@
                @*                         foreach (DimensionStructure topDimensionStructure in _topDimensionStructures) *@
                @*                         { *@
                @*                             if (topDimensionStructure.Id == _editedDimensionStructure.ParentDimensionStructureId) *@
                @*                             { *@
                @*                                 <option value="@topDimensionStructure.Id" selected> *@
                @*                                     @topDimensionStructure.Name *@
                @*                                 </option> *@
                @*                             } *@
                @*                             else *@
                @*                             { *@
                @*                                 <option value="@topDimensionStructure.Id"> *@
                @*                                     @topDimensionStructure.Name *@
                @*                                 </option> *@
                @*                             } *@
                @*                         } *@
                @*                     } *@
                @*                 </BSInput> *@
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Dimension</BSFormLabel>
                <BSInput InputType="InputType.Select"
                         @bind-Value="@_editedDimensionStructure.DimensionId">
                    @{
                        foreach (Dimension dimension in _dimensions)
                        {
                            if (dimension.Id == _editedDimensionStructure.DimensionId)
                            {
                                <option value="@dimension.Id" selected>
                                    @dimension.Name
                                </option>
                            }
                            else
                            {
                                <option value="@dimension.Id">
                                    @dimension.Name
                                </option>
                            }
                        }
                    }
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Is Active?</BSFormLabel>
                <BSInput InputType="InputType.Range"
                         min="0"
                         max="1"
                         @bind-Value="@_editedDimensionStructure.IsActive">
                    @_editedDimensionStructure.IsActive
                </BSInput>
            </BSFormGroup>
        </BSModalBody>
        <BSModalFooter>
            <BSButton ButtonType="ButtonType.Button"
                      @onclick="@(async () => await CancelEditHandler())"
                      Color="Color.Secondary">
                Cancel
            </BSButton>
            <BSButton ButtonType="ButtonType.Submit"
                      Color="Color.Primary">
                Save
            </BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>

<BSModal @ref="_addNewModalWindow">
    <BSForm Model="@_newDimensionStructure"
            ValidateOnInit="true"
            OnValidSubmit="@(async () => await SaveDimensionStructureHandler())">
        @* <DataAnnotationsValidator/> *@
        @* <ValidationSummary/> *@
        <BSModalHeader @onclick="@(async () => await CancelAddNewHandler())">
            Adding new Dimension Structure
        </BSModalHeader>
        <BSModalBody>
            <BSFormGroup>
                <BSFormLabel>Id</BSFormLabel>
                <BSBasicInput InputType="InputType.Text"
                              IsDisabled="true"
                              @bind-Value="@_newDimensionStructure.Id">
                    @_newDimensionStructure.Id
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Name</BSFormLabel>
                <BSInput InputType="InputType.Text"
                         @bind-Value="@_newDimensionStructure.Name">
                    @_newDimensionStructure.Name
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Description</BSFormLabel>
                <BSInput InputType="InputType.TextArea"
                         @bind-Value="@_newDimensionStructure.Desc">
                    @_newDimensionStructure.Desc
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Parent Dimension Structure</BSFormLabel>
                @*                 <BSInput InputType="InputType.Select" *@
                @*                          @bind-Value="@_newDimensionStructure.ParentDimensionStructureId"> *@
                @*                     @{ *@
                @*                         foreach (DimensionStructure topDimensionStructure in _topDimensionStructures) *@
                @*                         { *@
                @*                             <option value="@topDimensionStructure.Id"> *@
                @*                                 @topDimensionStructure.Name *@
                @*                             </option> *@
                @*                         } *@
                @*                     } *@
                @*                 </BSInput> *@
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Dimension</BSFormLabel>
                <BSInput InputType="InputType.Select"
                         @bind-Value="@_newDimensionStructure.DimensionId">
                    @{
                        foreach (Dimension dimension in 
                            _dimensions)
                        {
                            <option value="@dimension.Id">
                                @dimension.Name
                            </option>
                        }
                    }
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Is Active?</BSFormLabel>
                <BSInput InputType="InputType.Range"
                         min="0"
                         max="1"
                         @bind-Value="@_newDimensionStructure.IsActive">
                    @_newDimensionStructure.IsActive
                </BSInput>
            </BSFormGroup>
        </BSModalBody>
        <BSModalFooter>
            <BSButton ButtonType="ButtonType.Button"
                      @onclick="@(async () => await CancelAddNewHandler())"
                      Color="Color.Secondary">
                Cancel
            </BSButton>
            <BSButton ButtonType="ButtonType.Submit"
                      Color="Color.Primary">
                Save
            </BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>