@using DigitalLibrary.MasterData.DomainModel.DomainModel
<BSTable IsDark="true" IsStriped="true" IsHovarable="true">
    <BSTableHead>
        <BSTableRow>
            <BSTableHeadCell colspan="6">
                <BSButton ButtonType="ButtonType.Button"
                          @onclick="@(async () => await OpenAddWindowAction())">
                    Add
                </BSButton>
            </BSTableHeadCell>
        </BSTableRow>
        <BSTableRow>
            <BSTableHeadCell>Id</BSTableHeadCell>
            <BSTableHeadCell>Name</BSTableHeadCell>
            <BSTableHeadCell>Desc</BSTableHeadCell>
            <BSTableHeadCell>Parent</BSTableHeadCell>
            <BSTableHeadCell>Dimension Name</BSTableHeadCell>
            <BSTableHeadCell>Is Active?</BSTableHeadCell>
        </BSTableRow>
    </BSTableHead>
    <BSTableBody>
        @{
            foreach (DimensionStructure dimensionStructure in _dimensionStructures)
            {
                <BSTableRow>
                    <BSTableCell>@dimensionStructure.Id</BSTableCell>
                    <BSTableCell>@dimensionStructure.Name</BSTableCell>
                    <BSTableCell>@dimensionStructure.Desc</BSTableCell>
                    @{
                        if (dimensionStructure.ParentDimensionStructure != null)
                        {
                            <BSTableCell>@dimensionStructure.ParentDimensionStructure.Name</BSTableCell>
                        }
                        else
                        {
                            <BSTableCell>none</BSTableCell>
                        }
                    }
                    @{
                        if (dimensionStructure.Dimension != null)
                        {
                            <BSTableCell>@dimensionStructure.Dimension.Name</BSTableCell>
                        }
                        else
                        {
                            <BSTableCell>none</BSTableCell>
                        }
                    }
                    <BSTableCell>@dimensionStructure.IsActive</BSTableCell>
                </BSTableRow>
            }
        }
    </BSTableBody>
    <BSTableFooter>
    </BSTableFooter>
</BSTable>

<BSModal @ref="_addNewModalWindow">
    <BSForm Model="@_newDimensionStructure"
            ValidateOnInit="true"
            OnValidSubmit="@(async () => await SaveDimensionStructureHandler())">
        @* <DataAnnotationsValidator/> *@
        @* <ValidationSummary/> *@
        <BSModalHeader @onclick="@(async () => await CancelAddNewHandler())">
            Adding new Dimension Structure
        </BSModalHeader>
        <BSModalBody>
            <BSFormGroup>
                <BSFormLabel>Id</BSFormLabel>
                <BSBasicInput InputType="InputType.Text"
                              IsDisabled="true"
                              @bind-Value="@_newDimensionStructure.Id">
                    @_newDimensionStructure.Id
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Name</BSFormLabel>
                <BSInput InputType="InputType.Text"
                         @bind-Value="@_newDimensionStructure.Name">
                    @_newDimensionStructure.Name
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Description</BSFormLabel>
                <BSInput InputType="InputType.TextArea"
                         @bind-Value="@_newDimensionStructure.Desc">
                    @_newDimensionStructure.Desc
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Parent Dimension Structure</BSFormLabel>
                <BSInput InputType="InputType.Select"
                         @bind-Value="@_newDimensionStructure.ParentDimensionStructureId">
                    @{
                        foreach (DimensionStructure topDimensionStructure in _topDimensionStructures)
                        {
                            <option value="@topDimensionStructure.Id">
                                @topDimensionStructure.Name
                            </option>
                        }
                    }
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Dimension</BSFormLabel>
                <BSInput InputType="InputType.Select"
                         @bind-Value="@_newDimensionStructure.DimensionId">
                    @{
                        foreach (Dimension dimension in 
                            _dimensions)
                        {
                            <option value="@dimension.Id">
                                @dimension.Name
                            </option>
                        }
                    }
                </BSInput>
            </BSFormGroup>
            <BSFormGroup>
                <BSFormLabel>Is Active?</BSFormLabel>
                <BSInput InputType="InputType.Range"
                         min="0"
                         max="1"
                         @bind-Value="@_newDimensionStructure.IsActive">
                    @_newDimensionStructure.IsActive
                </BSInput>
            </BSFormGroup>
        </BSModalBody>
        <BSModalFooter>
            <BSButton ButtonType="ButtonType.Button"
                      @onclick="@(async () => await CancelAddNewHandler())"
                      Color="Color.Secondary">
                Cancel
            </BSButton>
            <BSButton ButtonType="ButtonType.Submit"
                      Color="Color.Primary">
                Save
            </BSButton>
        </BSModalFooter>
    </BSForm>
</BSModal>