@using DigitalLibrary.MasterData.DomainModel
@{
    if (DimensionStructureParameter != null)
    {
        <ul>
            <li>
                @DimensionStructureParameter.Name
                <BSButton Size="Size.Small">Update</BSButton>
                <BSButton Size="Size.Small"
                          Color="Color.Primary"
                          @onclick="@(async () => await AddDocumentStructureToTreeAsync(DimensionStructureParameter.Id,
                                        ParentDimensionStructureIdParameter)
                                        .ConfigureAwait(false))">
                    Add New Dimension Structure
                </BSButton>
                <BSButton Size="Size.Small">Modify Dimension</BSButton>
                <BSButton Size="Size.Small"
                          Color="Color.Danger"
                          @onclick="@(async () => await DeleteDocumentStructureFromTreeAsync(DimensionStructureParameter.Id)
                                        .ConfigureAwait(false))">
                    Delete Dimension
                </BSButton>
            </li>
            @{
                if (DimensionStructureParameter.ChildDimensionStructures != null)
                {
                    if (DimensionStructureParameter.ChildDimensionStructures.Any())
                    {
                        foreach (DimensionStructure dimensionStructure in DimensionStructureParameter.ChildDimensionStructures)
                        {
                            <DimensionStructureTree DimensionStructureParameter="@dimensionStructure"
                                                    ParentDimensionStructureIdParameter="@ParentDimensionStructureIdParameter">
                            </DimensionStructureTree>
                        }
                    }
                }
            }
        </ul>
    }
    else
    {
        <div>DimensionStructureParameter is null</div>
    }
}

<BSModal @ref="_deleteDocumentStructureBsModalWindow">
    <BSModalHeader @onclick="@(async () => await DeleteDocumentStructureFromTreeAsync(DimensionStructureParameter.Id)
                                 .ConfigureAwait(false))">
        <label>Are You Sure?</label>
    </BSModalHeader>
    <BSModalBody>
        <label>Dimension Structure Name:</label>
        @DimensionStructureParameter.Name
    </BSModalBody>
    <BSModalFooter>
        <BSButton Size="Size.Small"
                  Color="Color.Secondary"
                  @onclick="@(async () => await CancelDeleteDocumentStructureConfirmedAsync().ConfigureAwait(false))">
            Cancel
        </BSButton>
        <BSButton Size="Size.Small"
                  Color="Color.Danger"
                  @onclick="@(async () => await DeleteDocumentStructureConfirmedAsync().ConfigureAwait(false))">
            Delete
        </BSButton>
    </BSModalFooter>
</BSModal>